.NxcHK[class~=title]{margin-bottom:0.5rem}.vPTY5{padding:15px 0;border-bottom:1px solid #dfdfdf}.vPTY5 svg{color:#6592C2}.bsg5Y{display:flex;align-items:center;padding:5px;margin-top:5px;border-radius:5px;border:1px solid lightgray}.bsg5Y .YeN6y{width:35px;height:35px;margin-left:5px}

